.rmdb-loadmorebtn {
  /* background: #16d47b; */
  width: 30%;
  min-height: 50px;
  text-align: center;
  /* color: #fff; */
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 auto;
  border-radius: 5px;
}

.rmdb-loadmorebtn p {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  padding: 20px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
  background: #8be6bb;
}
